In [4]:
for n in range(-100, 1):
   if n % 2==0:
      print(n, end = ",")

-100,-98,-96,-94,-92,-90,-88,-86,-84,-82,-80,-78,-76,-74,-72,-70,-68,-66,-64,-62,-60,-58,-56,-54,-52,-50,-48,-46,-44,-42,-40,-38,-36,-34,-32,-30,-28,-26,-24,-22,-20,-18,-16,-14,-12,-10,-8,-6,-4,-2,0,

In [8]:
for n in range(-100, 1):
   if n % 2 != 0:
      print(n, end = ",")

-99,-97,-95,-93,-91,-89,-87,-85,-83,-81,-79,-77,-75,-73,-71,-69,-67,-65,-63,-61,-59,-57,-55,-53,-51,-49,-47,-45,-43,-41,-39,-37,-35,-33,-31,-29,-27,-25,-23,-21,-19,-17,-15,-13,-11,-9,-7,-5,-3,-1,

In [9]:
for n in range(-10,100):
    print(n)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [12]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [13]:
n=9

for i in range(1,n+1):
    num1=1
    num2=i-1
    print((n-i)*"  ",end=" ")
    
    for j in range(i):
        print(num1,end=" ")
        num1+=1
        
    for k in range(i-1):
        print(num2,end=" ")
        num2-=1
    print("")

for x in range(1,n):
    num3=1
    print(x*"  ",end=" ")
    
    for y in range(n-x):
        print(num3,end=" ")
        num3+=1
    print("")

                 1
               1 2 1
             1 2 3 2 1
           1 2 3 4 3 2 1
         1 2 3 4 5 4 3 2 1
       1 2 3 4 5 6 5 4 3 2 1
     1 2 3 4 5 6 7 6 5 4 3 2 1
   1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
   1 2 3 4 5 6 7 8
     1 2 3 4 5 6 7
       1 2 3 4 5 6
         1 2 3 4 5
           1 2 3 4
             1 2 3
               1 2
                 1

In [15]:
n=9

for i in range(n+1):
    n1=0
    for j in range(n+1):
        print(n1*i, end="\t")
        n1+=1
    print("")

0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9
0	2	4	6	8	10	12	14	16	18
0	3	6	9	12	15	18	21	24	27
0	4	8	12	16	20	24	28	32	36
0	5	10	15	20	25	30	35	40	45
0	6	12	18	24	30	36	42	48	54
0	7	14	21	28	35	42	49	56	63
0	8	16	24	32	40	48	56	64	72
0	9	18	27	36	45	54	63	72	81